<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UnitTestDemoTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B9C5E08F1E2E117100C86650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9C5E0A81E2E117200C86650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B9C5E0B31E2E117200C86650</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
